/*html tags*/
html {
    font-size: 16px;
}

/*General Styles*/
body {
    background-color: #848484;
}

h1 {
    font-size: 3rem;
}

/*About Me Section */

@include media-breakpoint-up(md) { 
    #about-me-logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
 }